    .split-cont {
        display: flex;
        overflow: hidden;
    }

    .split-cont.horizontal {
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    .split-cont.vertical {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .split-btn {
        background-color: #585858;
        user-select: none;
        transition: width, height 0.09s;
        z-index: 10000;
    }

    .split-btn.horizontal {
        height: 100%;
        width: 3px;
        cursor: e-resize;
        transform: translateX(-50%);
    }

    .split-btn.vertical {
        height: 3px;
        width: 100%;
        cursor: n-resize;
        transform: translateY(-50%);
    }

    .split-btn:hover {
        background-color: #007ACC;
    }

    .split-btn.horizontal:hover {
        width: 5px;
    }

    .split-btn.vertical:hover {
        height: 5px;
    }

    .split-cont>section {
        overflow: auto;
        text-wrap: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }

    .split2{
        flex: 1;
        z-index: 100;
    }