// #region Display Flex

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-align-start {
  align-items: start;
}

.f-justify-start {
  justify-content: start;
}

.f-align-center {
  align-items: center;
}

.f-justify-center {
  justify-content: center;
}

.f-align-end {
  align-items: end;
}

.f-justify-end {
  justify-content: end;
}

.f-justify-between {
  justify-content: space-between;
}

.f-justify-around {
  justify-content: space-around;
}

.f-align-self-start {
  align-self: self-start;
}

.f-align-self-end {
  align-self: self-end;
}

.f-justify-self-start {
  justify-self: start;
}

.f-justify-self-end {
  justify-self: end;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-nowrap {
  flex-wrap: nowrap !important;
}

//#endregion


// #region Display Grid
.d-grid{
  display: grid;
}
.place-center{
  place-content: center;
}


// #endregion