// #region Hover Scale
.hover-scale1 {
    transition: transform 0.2s;
    transform: scale(1);
}

.hover-scale1:hover {
    transform: scale(var(--sizing-1));
}

.hover-scale2 {
    transition: transform 0.2s;
    transform: scale(1);
}

.hover-scale2:hover {
    transform: scale(var(--sizing-2));
}

.hover-scale3 {
    transition: transform 0.2s;
    transform: scale(1);
}

.hover-scale3:hover {
    transform: scale(var(--sizing-3));
}

.hover-scale4 {
    transition: transform 0.2s;
    transform: scale(1);
}

.hover-scale4:hover {
    transform: scale(var(--sizing-4));
}

.hover-scale5 {
    transition: transform 0.2s;
    transform: scale(1);
}

.hover-scale5:hover {
    transform: scale(var(--sizing-5));
}



// #endregion