// #region Margin with Rem
.mt-1 {
  margin-top: var(--spacing-1) !important;
}
.mt-2 {
  margin-top: var(--spacing-2) !important;
}
.mt-3 {
  margin-top: var(--spacing-3) !important;
}
.mt-4 {
  margin-top: var(--spacing-4) !important;
}
.mt-5 {
  margin-top: var(--spacing-5) !important;
}

.mb-1 {
  margin-bottom: var(--spacing-1) !important;
}
.mb-2 {
  margin-bottom: var(--spacing-2) !important;
}
.mb-3 {
  margin-bottom: var(--spacing-3) !important;
}
.mb-4 {
  margin-bottom: var(--spacing-4) !important;
}
.mb-5 {
  margin-bottom: var(--spacing-5) !important;
}

.me-1 {
  margin-left: var(--spacing-1) !important;
}
.me-2 {
  margin-left: var(--spacing-2) !important;
}
.me-3 {
  margin-left: var(--spacing-3) !important;
}
.me-4 {
  margin-left: var(--spacing-4) !important;
}
.me-5 {
  margin-left: var(--spacing-5) !important;
}

.ms-1 {
  margin-right: var(--spacing-1) !important;
}
.ms-2 {
  margin-right: var(--spacing-2) !important;
}
.ms-3 {
  margin-right: var(--spacing-3) !important;
}
.ms-4 {
  margin-right: var(--spacing-4) !important;
}
.ms-5 {
  margin-right: var(--spacing-5) !important;
}

// #endregion

// #region Margin With Pixels
.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}
.mt-110 {
  margin-top: 110px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.mt-160 {
  margin-top: 160px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.my-35 {
  margin-block: 35px !important;
}

.my-25 {
  margin-block: 25px !important;
}

.my-30 {
  margin-block: 30px !important;
}

.my-40 {
  margin-block: 40px !important;
}

.my-15 {
  margin-block: 15px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

// #endregion

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}