:root {
  /*DarkMode BTN*/
  --DMbtn: #2b2b2b;
  /*Scale Gris*/
  --header-color: #f3f3f3;
  --bg-color: #f8f8f8;
  --bg1-color: #8ec0fa;

  --bg-m1: #CFB010;
  --bg-m2: #7E898B;
  --bg-m3: #C5660F;

  // #region Border Color
  --br-sk-out: #aaaaaa;
  --br-high: #5c5c5c;
  --br-normal: #a3a3a3;
  --br-low: #D3D3D3;

  // #endregion

  // #region Skeleton Var
  --sk-in: #F4F4F4;
  --sk-br: #9D9D9D;

  // #endregion

  // #region Color Font
  --font-h1: #000;
  --font-high: #171717;
  --font-normal: #4D4D4D;
  --font-low: #8692A6;
  --font-white: #ffffff;
  --font-link: #2C73EB;
  --font-error: #ff3d3d;

  // #endregion


  // #region Spacing or Gap or Margin Rem

  --spacing-1: 0.25rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2.25rem;
  --spacing-5: 3rem;

  //#endregion

  // #region Sizing Rem

  --sizing-1: 1.1;
  --sizing-2: 1.25;
  --sizing-3: 1.60;
  --sizing-4: 1.90;
  --sizing-5: 2.25;

  //#endregion

  // #region Font Size Rem

  --fontrem-1: 0.875rem;
  --fontrem-2: 1rem;
  --fontrem-3: 1.25rem;
  --fontrem-4: 2.65rem;
  --fontrem-5: 3rem;

  //#endregion



}

.DarkMode {
  /*DarkMode BTN*/
  --DMbtn: #2C73EB;
  --header-color: #1f2022;
  --bg-color: #181819;
  /*Border*/
  --border-1: #3b434c;
  --border-2: #919597;
}