.cod-side {
    border-right: solid 2px #cbcbcb;
    height: 100%;
    width: 560px;
}
.cod-s-cont{
    height: calc(100% - 80px);
    padding: 28px 28px 0px 28px;
    overflow: auto;
}

.cs-list {
    height: 50px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.cs-list.active{
    margin-bottom: 20px;
    overflow: visible;
}

.cs-l-head {
    height: 50px;
    border-bottom: solid 2px #D3D3D3;
    padding: 10px 6px;
}

.cs-a-icon {
    rotate: -90deg;
}

.cs-a-icon svg {
    fill: #aaaaaa;
    height: 30px;
}

.cs-l-cont {
    height: max-content;
}

.cs-l-cont input {
    padding: 12px 18px;
    font-size: 15px;
    font-weight: 400;
}

.cs-l-cont textarea {
    height: 100px;
    width: 100%;
    padding: 12px 18px;
    font-size: 15px;
    font-weight: 400;
    resize: none;
}

.cod-s-footer {
    background-color: #FFF;
    width: 100%;
    padding: 0px 28px 28px 28px;
}

.btn-code {
    background-color: #0E7DBB;
    color: #FFF;
    padding: 13px 20px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    font-family: Inter;
    text-align: center;
}

.cs-f-links a {
    font-size: 14px;
    color: #191919;
    text-decoration: none;
    font-weight: 500;
}

.cs-f-links>a {
    font-weight: 600;
}