.res-side{
    height: 100%;
    width: 100%;
}
.rs-header{
    padding: 36px;
}
.rs-title{
    font-size: 36px;
    font-weight: 600;
    font-family: Inter;
    color: #43464E;
}
.rs-h-social{
    list-style: none;
    height: 60px;
    width: 60px;
    background-color: var(--sk-in);
    border: solid 1px var(--sk-br);
}

.rs-main{
    height: max-content;
    width: 100%;
    padding: 0px 64px;
}

.rs-subtitle{
    font-size: 17px;
    font-weight: 600;
    color: #383a40;
}